<section class="no-padding" id="community">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-4">
                <a href="https://t.me/chat42coin" class="pictures-box" target="_blank">
                    <img src="img/pictures/tm.jpg" class="img-responsive" alt="">
                    <div class="pictures-box-caption">
                        <div class="pictures-box-caption-content">
                            <div class="project-category text-faded">
                                chat
                            </div>
                            <div class="project-name">
                                telegram.org
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-4">
                <a href="https://bitcointalk.org/index.php?topic=1502028.0" class="pictures-box" target="_blank">
                    <img src="img/pictures/forum.jpg" class="img-responsive" alt="">
                    <div class="pictures-box-caption">
                        <div class="pictures-box-caption-content">
                            <div class="project-category text-faded">
                                forum
                            </div>
                            <div class="project-name">
                                bitcointalk.org
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-4">
                <a href="https://discord.gg/ge2gUHy" class="pictures-box" target="_blank">
                    <img src="img/pictures/discord.jpg" class="img-responsive" alt="">
                    <div class="pictures-box-caption">
                        <div class="pictures-box-caption-content">
                            <div class="project-category text-faded">
                                channel
                            </div>
                            <div class="project-name">
                                discordapp.com
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>