<section id="exchanges">
    <div class="container">
        <div class="row no-gutter">
            <div class="col-lg-12 text-center">
               <h2 class="section-heading">Exchanges</h2>
            </div>
        </div>
    </div>
<br>
    <div class="container-fluid" style="text-align: center;">
        <div class="row">
			<a href="https://www.livecoin.net/ru/trade/index?currencyPair=FORTYTWO%2FBTC" target="_blank"><img src="img/pictures/exchanges/livecoin.jpg" class="img-inline" style="max-width: 100%; height: auto;" alt="LiveCoin"></a>   
			<a href="https://tradesatoshi.com/Exchange?market=42_BTC" target="_blank"><img src="img/pictures/exchanges/tradesatoshi.jpg" class="img-inline" style="max-width: 100%; height: auto;" alt="TradeSatoshi"></a> 
			<a href="https://novaexchange.com/market/BTC_42/" target="_blank"><img src="img/pictures/exchanges/novaexchange.jpg" class="img-inline" style="max-width: 100%; height: auto;" alt="NovaExchange"></a>
			<a href="https://ex.xbts.io/#/market/XBTSX.42_XBTSX.BTC" target="_blank"><img src="img/pictures/exchanges/xbts.jpg" class="img-inline" style="max-width: 100%; height: auto;" alt="XBTS"></a> 
        </div>
    </div>
</section>