<section id="features" section class="bg-primary" class="no-padding">
    <div class="container">
        <div class="row no-gutter">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Features</h2>
            </div>
        </div>
    </div>
	<br>
	<br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-md-2 text-center">
                <div class="features-box">
                    <i class="fa fa-4x fa-pie-chart wow bounceIn text-info"></i>
                    <h3>Fair Distribution</h3>
                    <p class="text-muted">42 has no premine or instamine and has never been sold via an ICO</p>
                </div>
            </div>
            <div class="col-sm-4 col-md-2 text-center">
                <div class="features-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-info" data-wow-delay=".1s"></i>
                    <h3>Extremely Rare</h3>
                    <p class="text-muted">All 42 coins are mined. Current block reward is <b>zero</b></p>
                </div>
            </div>
            <div class="col-sm-4 col-md-2 text-center">
                <div class="features-box">
                    <i class="fa fa-4x fa-sort-amount-desc wow bounceIn text-info" data-wow-delay=".2s"></i>
                    <h3>Deflationary</h3>
                    <p class="text-muted">The first coin with real deflation working on protocol-level</p>
                </div>
            </div>
            <div class="col-sm-4 col-md-2 text-center">
                <div class="features-box">
                    <i class="fa fa-4x fa-search wow bounceIn text-info" data-wow-delay=".3s"></i>
                    <h3>Transparency</h3>
                    <p class="text-muted">42 development is transparent not only in code, but in all expenses</p>
                </div>
            </div>
            <div class="col-sm-4 col-md-2 text-center">
                <div class="features-box">
                    <i class="fa fa-4x fa-money wow bounceIn text-info" data-wow-delay=".4s"></i>
                    <h3>Safe Investment</h3>
                    <p class="text-muted">New coins are not mined - no one exert constant pressure on the price</p>
                </div>
            </div>
            <div class="col-sm-4 col-md-2 text-center">
                <div class="features-box">
                    <i class="fa fa-4x fa-line-chart wow bounceIn text-info" data-wow-delay=".5s"></i>
                    <h3>Highest Valued</h3>
                    <p class="text-muted">42 will go into history as the cryptocurrency with the highest face value</p>
                </div>
            </div>
        </div>
	</div>
</section>